<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.macss.whatsapp_direct_send">

    <application>
        <!--
          FileProvider used to generate content:// URIs for image sharing.
          The authority MUST be unique per app, so we append a plugin-specific
          suffix to the host application's package name.
        -->
        <provider
            android:name=".WhatsappDirectSendFileProvider"
            android:authorities="${applicationId}.whatsapp_direct_send.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/whatsapp_direct_send_paths" />
        </provider>
    </application>

    <!-- Required on Android 11+ (API 30) to query WhatsApp packages -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
